<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.MemberMapper">

<insert id="save" parameterType="member.Member">
  insert into members(member_id, username, password, email) 
  values(member_seq.nextval, #{username}, #{password}, #{email})
</insert>


  <select id="findByUsername" resultType="member.Member">
    select member_id, name, username, password, email 
    from members 
    where username = #{username}
  </select>

</mapper>
